.accountMain{
    margin:40px;
}
.profile{
    display: flex;
    gap:1rem;
    margin: 20px;
}
.proImg{
    background-color: blanchedalmond;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 80px;
    padding-top: 5px;
}
.proName{
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}
.selectBtn{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.selectBtn>button{
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color:#4e73df;
    font-size: large;
}
.Btn1:focus,.Btn2:focus,.Btn3:focus,.Btn4:focus{
        color:aliceblue;
        border: solid 1px;
        background-color:#2b55d1;
}

