.eventMain{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
  
}
.eventcards1{
    min-width: 15rem;
    background-color:#fff;
    border-radius: 5px;
    padding:15px 10px 10px 15px;
    cursor: pointer;
    box-shadow: 2px 1px 5px 0px lightblue;
    border-left: solid #4e73df 5px;
}
.eventDetails{
    background-color: white;
    padding: 10px;
    box-shadow: 2px 1px 5px 0px lightblue;
    border-radius: 10px;
    border-left: solid #4e73df 5px;
    width: 15.6vw;
}
.eventDetails>div{
    margin-top: 10px;
    

}


.evtDlt{
    display: flex;
    gap: 2rem;
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px gray;
    border-radius: 10px;
    margin-bottom: 10px;  
}
.eventCardsWraper{
    display: flex;
    overflow-x: scroll;
    max-width: 80vw;
    gap: 2rem;
    padding: 15px ;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px gray;
    border-radius: 10px;
    margin:10px 0px;
}

.eventCardsWraper::-webkit-scrollbar {
    display: none;
  }
.eventName{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
.timeday{
     font-size: small;
     color: gray;
     margin-top: 5px;
     margin-bottom: 15px;
}
.venue_Status{
    display: flex;
    justify-content: space-between;
}

.bookingDetail{
   background-color: #fff;
   box-shadow: 1px 1px 5px 0px gray;
   border-radius: 10px;
   padding: 10px;
}

.saleDetail{

    font-size: 0.85rem;
}

.dateTime{
    font-size: larger;
    margin-bottom: 15px;
    margin-top: 20px;
}
.dateTime>p{
    font-size: small;
    margin-top: 5px;
    color: gray;
}

.venue{
    font-size: larger;
    margin-bottom: 15px;
}
.venue >p{
    font-size: small;
    margin-top: 5px;
    color: gray;
    display: flex;
    flex-direction: column; 
    text-align: left;
}
.tableData {
       padding: 10px 30px;   
       
}
.tableDashboard{
    margin-top: 6px;
    margin-bottom: 15px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}


.tableRow1{
    background-color: rgb(215, 230, 250);
}
.tableRow2{

    background-color: rgba(215, 230, 250, 0.783);

}
.tableRow3{

    background-color: rgba(215, 230, 250, 0.54);

}
.dashImage{
text-align: center;
padding:10px 10px;
box-shadow: 2px 1px 5px 0px lightblue;
border-left: solid #4e73df 5px;
border-radius: 10px;
}
.dashImage>img{
    width: 14vw;
    margin-top: 10px;
    border-radius: 10px;
    height: 20vw;
}
